<div id="header">
    <h1 id="logo">THSCSLab
        <span class="less-gray" style="font-weight: normal; font-size: 0.6em; padding-bottom: 5px;">高研实验室</span>
    </h1>
    <h2 id="slogan" style="font-weight: normal; font-size: 100%;">纸曲笔伏霍音起，疑似圣驾过丽沟。</h2>
    <!--<div id="searchform" style="display: none;">
                <form method="post" class="search" action="#" >
                    <p><input name="search_query" class="textbox" type="text" placeholder="搜索文章" />
                      <input class="button" type="submit" value="搜索" /></p>
                </form>
            </div>-->
</div>
<div id="menu">
    <ul style="font-weight: normal; font-size: 111%;">
        <li id="current">
            <a href="/index">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/download">
                <span>Downloads</span>
            </a>
        </li>
        <li>
            <a href="#" id="logout">
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>